 
 <script>
  $(document).ready(function(){
  
  });
	
</script>

 <div class="Survey new">
 	
 	<!-- Hey Mike I got rid of this parameter in the form_for call :
 		:url => {:action => 'update', :id => @survey.id}
 		
 		Instead I added the paramter @survey -->
		<%= form_for(:survey, @survey, :url => {:action => 'update', :id => @survey.id}) do |f|%>
	<table summary="Survey form fields" class="center fixedWidth" >
		<tr>
			
			<th>Survey Title</th>
		</tr>
		<tr>
			<td ><%= f.text_field(:title)%></td>
			
		</tr>
		<tr>
			<td style="float: right ; background-color: #d0e4fe ;">
			<div class="form-buttons">
				<%= submit_tag("Edit Survey Title")%>
			</div>
			</td>
		</tr>
		 
	<!-- ></table> -->

	<%end%>
	
	<!-- code for editing questions within the edit page -->
	<!-- ><br> -->
	<tr>
		<td>
<table  summary="Questions List">
 <tr class="header">
  <th>ID</th>
  <th>Questions</th>
  <th>Action</th>
</tr>
<% @survey.questions.each do |t| %>
<tr>
	<td><%=t.id %></td>
	<td ><%= t.title %></td>
	
	<td class="actions" >
		<%= link_to("Edit",  {:controller => 'question', :action =>'edit', :id => t.id}, :class => 'action edit')   %>
		<%= link_to("Delete", {:controller => 'question', :action =>'delete', :id => t.id}, :class => 'action delete')  %>
	</td>
 
	
	 
</tr>

<% end %>

	
	</table>
	</td>
	</tr>
		<tr>
			<td style="background-color: #d0e4fe ;">
				<center>
				<h4><%=link_to("Add a Question", {:controller=>'question', :action =>'new', :id => @survey.id}, :class => "new_box")%></h4>
				</center>
			</td>
		</tr>
	</table>
</div>


	
