
<div class="title">
	<h1>Surveys</h1>
</div>
<div class="Survey_list">

<table class="center">
<tr>
  <th ></th>
</tr>
<tr>
<td>

<table  class="fixedWidth" summary="Movie List">
 <tr class="header">
  <th style="width:10px;">ID</th>
  <th style="width:300px;">Title</th>
  <th>Action</th>
</tr>
<%num=0%>
<% @surveys.each do |t| %>
<tr >
	<td><%=num = num+1 %></td>
	<td style="width:300px;"><%= t.title %></td>
	
	<td class="center">
		<center>
		<table class="hover" class="center">
			
		<tr><td ><%= link_to("Show", {:action =>'show', :id => t.id}, :class => 'action show')%></td></tr>
		<tr><td><%= link_to("Edit",  {:action =>'edit', :id => t.id}, :class => 'action edit')   %></td></tr>
		<tr><td><%= link_to("Delete", {:action =>'delete', :id => t.id}, :class => 'action delete')  %></td></tr>
	
		</table>
		</center>
	</td>
 
	
	 
</tr>

<% end %>


</table>
</td>
</tr>


<tr>
  <td style="background-color: #d0e4fe; padding:0; margin:0;">
	<center>
    <h4><%=link_to("Create New Survey", {:action =>'new'}, :class => "new_box")%></h4>
</center>
  </td>

</tr>

</table>
</div>

<br>


