<%= stylesheet_link_tag("jquery.jqplot")%>
<%= javascript_include_tag ('jquery.jqplot',
							'jqplot.barRenderer', 
							'jqplot.pieRenderer',
							'jqplot.categoryAxisRenderer.js', 
							'jqplot.highlighter',
							'jqplot.pointLabels') %>
<script>
	
	$(document).ready(function(){
		
		$.jqplot.config.enablePlugins = true;
	});
	</script>
	
<style type="text/css"> 
    .jqplot-target {
        margin-bottom: 2em;
    }
    
    pre {
        background: #D8F4DC;
        border: 1px solid rgb(200, 200, 200);
        padding-top: 1em;
        padding-left: 3em;
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 4em;
        
    }
    
    p {
        margin: 2em 0;
    }
    
    .note {
        font-size: 0.8em;
    }
  </style>	
	


 <div >
 	
 	<table class="center">
 		<tr>
<th> <h2>Survey Results (<%= @survey.title%>)</h2> </th>
	</tr>
	
	<tr> <td>
	<table  id="result">
		<tr>
			<th>ID</th>
			<th>Question</th>
			<th>Result</th>
		  
			<th>Total</th>
			<th>Median</th>
			
		</tr>
		<% point =String.new() %>
		<% col =String.new() %>
		<% numberOfAnswers =0%>
		<% @survey.questions.each do |q|%>
		<% numberOfAnswers = numberOfAnswers+1%>
			<%col = "#{col}, #{numberOfAnswers}" %>
		<tr>
			<td><%= numberOfAnswers%></td>
			<td><%= q.title %></td>
			
			
		 
				<% total =0%>
				<% resultString=""%>
				
				<% q.results.each do |r|%>
					<% total = total + r.answer.to_i%>
					<% resultString = "#{resultString}, #{r.answer.to_s}"%>
					
					
				<%end%>
				<% resultString = resultString[1..-1]%>
			
			<td><%=resultString%></td>
			<th><%=total%></th>
			<% average = 0 %>
			<% average = total/q.results.size if q.results.size != 0 %>
			<th id="average("<%=q.id%>)"><%=average%></th>
			
			<% point = "#{point}, #{(average).to_s}" %>
			 
		</tr>
		<%end%>

		 
		 <% point[0] = ' ' %>
		 <% col[0] = ' ' %>
		 
		 <% col = col.html_safe%>
		
		
	</table>
	</td></tr>
		<tr >
			<!-- ><td></td> -->
			<td style="background-color: #d0e4fe ;"><input type="button" onclick="showGraph();" value="Show Graph"></td>
		</tr>
	</table>
	
	
	
 </div>
 
 
 
 
<script class="code" type="text/javascript">
	  	
		function showGraph(){
          var pts = "<%=point%>"
          var s1 =   pts.split(",");
		  
		     alert(s1);
		  
		  var x = "<%=col%>";
		 
	 
          var col = x.split(",");
		 	
		
          var ticks = col;
        
        plot2 = $.jqplot('chart2', [s1], {
            seriesDefaults: {
                renderer:$.jqplot.BarRenderer,
                pointLabels: { show: true }
            },
            axes: {
                xaxis: {
                    renderer: 
                    $.jqplot.CategoryAxisRenderer,
                    ticks: ticks
                },
                yaxis:{min:0, max:5}
                
            }
            
        });
    
        $('#chart2').bind('jqplotDataHighlight', 
            function (ev, seriesIndex, pointIndex, data) {
                $('#info2').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
            }
        );
            
        $('#chart2').bind('jqplotDataUnhighlight', 
            function (ev) {
                $('#info2').html('Nothing');
            }
        );
    
	}
	</script> 
 
 

 
 <center>
    <div id="chart2" style="margin-top:20px; margin-left:20px; width:300px; height:300px;"></div>
    </center> 
	




