<!DOCTYPE html>
<html>
<head>
  <title>SurveyEngine</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" type="text/css" href="mainstyle.css" />
</head>
<body>
	
	<!-- navigation box stuff layed out by Armando -->
	<div class="marginImg">
		<img align="left" src="/images/survey.jpg" alt="img" style="position:relative;" />
		</div>
	<div class="new_box nav_box">
		<ul class="nav">
			<li> <%= link_to "Home", '/' %> </li>
			<li> <%= link_to "Back", :back %> </li>
			<li> <%= link_to "About", { :controller => 'survey', :action => 'about' } %> </li>
			<li> <%= link_to "Help", { :controller => 'survey', :action => 'help' } %> </li>
		</ul>
	</div>
	<!-- end of navigation box stuff -->
	
<%= yield %>

</body>
</html>
